<!DOCTYPE html>

<html ng-app='registerPage'>

<head>
    <meta charset="utf-8" />

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="../js/Angular/angular.min.js"></script>
    <script src="../js/Bootstrap/bootstrap.min.js"></script>


    <script type="text/javascript" src="../control/register.js"></script>


    <title>Register Page</title>
</head>


<body class="container">

  <form name="registerForm" align="center" ng-controller="registerController" novalidate>

    <h3 class="text-dark">Register an Account</h2>

      <br>
      <button type="button" class="btn btn-info" ng-disabled="isDisabled" onclick="window.location.href='../index.html'">Back to Home Page</button>

    <br><br>

    <img src="../img/logo.png" srcset="../img/logo.png 1000w, ../img/logo.png 2000w">
    <br><br>

    <div class="form-group">
      <label for="userName" class="text-dark"><b>Full Name:</b></label>
      <input ng-disabled="isDisabled" ng-model="name" type="text" class="form-control" id="userName" name="userName" ng-pattern="/^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$/" required style="text-align: center">

      <div ng-show="!registerForm.userName.$pristine" >
      <span ng-show="registerForm.userName.$error.required" style="color:red">Please enter your Name.</span>
      <span ng-show="registerForm.userName.$error.pattern" style="color:red">Invalid Name.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="userGender" class="text-dark"><b>Gender:</b></label>

      <div class="radio" id="filterDay" >
        <label class="text-dark"><input ng-disabled="isDisabled" ng-model="gender" type="radio" name="gender" value="Male" checked>Male &ensp;</label>
        <label class="text-dark"><input ng-disabled="isDisabled" ng-model="gender" type="radio" name="gender" value="Female" >Female</label>
      </div>
    </div>

    <div class="form-group">
     <label for="birthDate" class="text-dark"><b>Birth Date:</b></label>
     <input ng-model="birthdate" dateInput required type="date" name="birthDate" class="form-control" id="birthDate" name="birthDate" style="text-align: center"
            min="1979-12-31" max="2020-12-31" ng-disabled="isDisabled"
            >

            <div ng-show="!registerForm.birthDate.$pristine" >
            <span ng-show="registerForm.birthDate.$error.required" style="color:red">Please select your Birthdate.</span>
            </div>

    </div>

    <div class="form-group">
      <label for="userHPNo" class="text-dark"><b>Mobile Number:</b></label>
      <input ng-disabled="isDisabled" ng-model="mobileno" ng-pattern="/^((\+60(\s|-)?)|0)(((?!0)(?!2)(?!80)(?!81)\d{1,2})[1]?)(\s|-)?\d{2,4}(\s|-)?\d{4}$/" required type="text" id="userHPNo" name="userHPNo" class="input-medium bfh-phone form-control" data-country="MY" style="text-align: center">

      <div ng-show="!registerForm.userHPNo.$pristine" >
      <span ng-show="registerForm.userHPNo.$error.required" style="color:red">Please enter your Mobile Number.</span>
      <span ng-show="registerForm.userHPNo.$error.pattern" style="color:red">Invalid Mobile No.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="userEmail" class="text-dark"><b>Email:</b></label>
      <input ng-disabled="isDisabled" ng-model="email" type="email" required class="form-control" id="userEmail" name="userEmail" style="text-align: center">

      <div ng-show="!registerForm.userEmail.$pristine" >
      <span ng-show="registerForm.userEmail.$error.required" style="color:red">Please enter your email.</span>
      <span ng-show="registerForm.userEmail.$error.email" style="color:red">This is not a valid email.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="userPassword" class="text-dark"><b>Password:</b></label>
      <input ng-disabled="isDisabled" ng-model="password" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" required class="form-control" id="userPassword" name="userPassword" style="text-align: center">

      <div ng-show="!registerForm.userPassword.$pristine" >
      <span ng-show="registerForm.userPassword.$error.required" style="color:red">Please enter your password.</span>
      <span ng-show="registerForm.userPassword.$error.pattern" style="color:red">Password must be minimum eight characters, at least one letter and one number, do not contain any symbol value</span>
      </div>

    </div>

    <div class="form-group">
      <label for="confirmPassword" class="text-dark"><b>Retype Password:</b></label>
      <input ng-disabled="isDisabled" ng-model="retypepassword" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" password-confirm match-target="password" required class="form-control" id="confirmPassword" name="confirmPassword" style="text-align: center">

      <div ng-show="!registerForm.confirmPassword.$pristine" >
      <span ng-show="registerForm.confirmPassword.$error.required" style="color:red">Please retype your password.</span>
      <span ng-show="registerForm.confirmPassword.$error.pattern" style="color:red">Password must be minimum eight characters, at least one letter and one number, do not contain any symbol value</span>
      <span ng-show="registerForm.confirmPassword.$error.match" style="color:red"><br>Please ensure the Password and Retype Password are Match</span>

      </div>



    </div>

    <p>Notice: Please make sure all field are Filled In. If Button is unclickable, certain field is Empty.</p>

    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="registerSubmit()" ng-disabled="registerForm.$invalid || isDisabled">Submit Register</button>


  </form>


</body>

<script type="text/javascript" src="../cordova.js"></script>
<script type="text/javascript">
    app.initialize();
</script>




</html>
